r
<!-- SIGNIN MODAL -->

<div id="Signin" class="modal">
  <div class="modal-content">
    <h4 id="swaylogo">Welcome Back</h4>
    <div class="row">
      <div class="container">

        <% if flash[:error] %>
        <div class="flash-error"><%= flash[:error]%></div>
        <% end %>

        <%= form_tag('/login', method: :post) do%>

        <div class="row">
          <div class="input-field col s12">
            <%= text_field_tag :email,nil, class: "validate" %>
            <label for="email">Email</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <%= password_field_tag :password,nil, class: "validate" %>
            <label for="password">Password</label>
          </div>
        </div>
      </div>
    </div>  
  </div>
  <div class="modal-footer">
    <button class="btn waves-effect waves-light blue" type="submit" name="action">Submit
      <i class="mdi-content-send right"></i>
    </button>

    <!-- SIGN IN WITH FACEBOOK -->
    <a class="waves-effect waves-light btn blue" id="navbuttonsfb"<%= link_to "Sign in with Facebook", "/auth/facebook" %></a>
    <%end%>
  </div>
</div>



