<h1>Login</h1>
  <% if flash[:error] %>
    <div class="flash-error"><%= flash[:error]%></div>
  <% end %>
  <%= form_tag('/login', method: :post)%>
    <div class='form-group'>
      <p>Email:<%= text_field_tag :email%></p>
    </div>
    <div class='form-group'>
      <p>Password:<%= password_field_tag :password%></p>
    </div>
      <%= submit_tag 'Login' %>
  <%end%>
