<!DOCTYPE html>
<html>

<head>
  <title>DoubleDigest</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='https://fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
  <%= debug(params) if Rails.env.development? %>
</head>

<body>

  <!-- SIGNUP MODAL -->
  <%= render 'users/new' %>

  <!-- SIGNIN MODAL -->
  <%= render 'sessions/new' %>

<%= yield %>


</body>
</html>
