<!DOCTYPE html>
<html>
  <head>
    <title>DoubleDigest</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <!-- Navbar goes here -->
    <nav>
      <div class="nav-wrapper">
        <div class="brand-logo center">Sway News</div>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <% if current_user %>
            <li>Welcome <strong><%= current_user.name%></strong></li>
            <li><%= link_to 'Sign out', signout_path %></li>
          <%else%>
          <li><%= link_to "Sign in with Twitter", "/auth/twitter" %></li>
          <li> Sign In </li>
          <%end%>
        </ul>
      </div>
    </nav>
    <!-- Page Layout here -->
    <div class="row">
      <div class="col s12 m4 l3">
      <!-- left side navigation panel -->
      </div>
      <div class="col s12 m8 l9">
      <!-- Video content -->
      </div>
    </div>
  <%= yield %>

  </body>
</html>
